# Default values for proclaim.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Proclaim Specific Properties
proclaim:
  # Secret to store API keys for DNS Providers
  secretName: "proclaim"
  # What Providers to enable. Multiple providers can be enable for one instance of Proclaim.
  providers:
    route53:
      enabled: false
    dnsimple:
      enabled: false
      # URL for DNSSimple API
      api: ""

image:
  repository: ghcr.io/dogmatiq/proclaim
  # Overrides the image tag whose default is v{{ .Chart.AppVersion }}
  tag: ""
  pullPolicy: IfNotPresent

imagePullSecrets: []

# env contains additional environment variables to set on the controller
# container.
#
# If you are using Route 53 as a DNS provider, you MAY use the common AWS
# environment variables (AWS_ACCESS_KEY_ID, etc) to configure Proclaim's AWS
# client.
#
# Under AWS EKS using a service account with an IAM role is RECOMMENDED instead.
# https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html.
env:
  # - name: NAME
  #   value: VALUE

nameOverride: ""
fullnameOverride: ""

commonLabels: {}

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # Labels to add to the service account
  labels: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

rbac:
  # Specifies whether RBAC resources should be created
  create: true
  additionalPermissions: []

# Annotations to add to the Deployment
deploymentAnnotations: {}

podLabels: {}

# Annotations to add to the Pod
podAnnotations: {}

podSecurityContext:
  fsGroup: 65534

securityContext:
  runAsNonRoot: true
  runAsUser: 65534
  readOnlyRootFilesystem: true
  capabilities:
    drop: ["ALL"]

# Defaults to `ClusterFirst`.
# Valid values are: `ClusterFirstWithHostNet`, `ClusterFirst`, `Default` or `None`.
dnsPolicy:

priorityClassName: ""

terminationGracePeriodSeconds:

livenessProbe:
  httpGet:
    path: /healthz
    port: http
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 2
  successThreshold: 1

readinessProbe:
  httpGet:
    path: /healthz
    port: http
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1

service:
  port: 7979
  annotations: {}

extraVolumes: []

extraVolumeMounts: []

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

topologySpreadConstraints: []
